.block-ipv6_greeter {}
.block-ipv6_greeter .content {
  padding-top: .5em;
  display: table;
  position: static;
}
.block-ipv6_greeter .ipv6_greeter-ipv4-client,
.block-ipv6_greeter .ipv6_greeter-ipv6-client {
  display: table-cell;
  vertical-align: middle;
  padding-left: 52px;
  height: 48px;
}
.block-ipv6_greeter .ipv6_greeter-ipv4-client {
  background: transparent url(images/Commons-emblem-notice.png) left center no-repeat;
}
.block-ipv6_greeter .ipv6_greeter-ipv6-client {
  background: transparent url(images/Commons-emblem-success.png) left center no-repeat;
}
.block-ipv6_greeter .content p {
  margin: 0;
}
